body{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.header{position: relative;
  vertical-align: middle;
  height: 49px;
  width: 1200px;
  top: 50px;
  left: 155px;
}
a{
  color :#fff;
  display:block;
  text-decoration: none;
}
.logo{
  position: absolute;
  left: 0;
}
.logo a{
  font-size: 21px;
  font-family: Verdana;
  font-weight: bold;
  text-transform: uppercase;
}
.castle{
  display: inline-block;
  width: 46px;
  height: 44px;
  cursor: pointer;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
}
.logo:hover a{
  color:#f26522;
}
.logo:hover .castle{
  background-image: url('../img/hover.png');
}
.textlogo a:last-child{
  font-size: 18px;
  padding-top: 5px;
}
.textlogo {
  display: inline-block;
}
.contact{
  position: absolute;
  right: 0;
  display: inline-block;
}
.contact a{
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  display: block;
}
.content{
  position: relative;
  width: 1200px;
  height: 560px;
  top: 20px;
  left: 155px;
}
.content ul{
  list-style: none;
  display: flex;
  justify-content:space-between;
  flex-flow: row wrap;
  padding: 0;
}
.image{
  cursor: pointer;
  position: relative;
  height: 200px;
  border: 3px solid;
  border-image:linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
  border-image-slice: 1;
}
.content li{
  margin-top: 50px;
}
li a{
  margin-top: 10px;
  font-family: Verdana;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
}
.slice{
  position: relative;
  bottom: 0px;
  height: 60px;
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
  background-color: #f26522;
}
.slice a{
  position: absolute;
  left: 10px;
  display: block;
  font-size: 10px;
  color: #fff;
}
.slice a.price{
  position: absolute;
  bottom: 5px;
  font-size: 20px;
}
.price::before{
  content:'\20AC';
}
.slice a.details{
  position: absolute;
  bottom: 5px;
  right: -154px;
  display:inline-block;
  font-size: 16px;
}
.details::after{
  content:' \003E';
}
li:hover .tour{
  color: #f26522;
}
.image:hover .slice{
  opacity: 1;
  bottom: 63px;
}
.copy{
  position: relative;
  top: 80px;
  text-align: center;
}
.copy a{
  font-family: Verdana;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}
.copy a::before{
  content:'\00A9';
  color:  #ffffff;
}
