*{
  margin: 0;
  padding: 0;
}
body{
  background: #333;
  font-family: Arial;
}
#burg a{
  display: block;
  width: 70px;
}
#burg{
  width: 98%;
  background: #232323;
  padding: 7.5px 0 7.5px 2%;
}
#desktop{
  display: none;
}
span{
  display: flex;
  margin: 8px;
  width: 30px;
  height: 1px;
  background: #c3c3c3;
  z-index: 2;
}
.mobile-tab{
  display: flex;
  width: 100%;
  background: #232323;
  flex-direction: column;
}
.mobile-tab a{
  font-size: 1.3em;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 1px;
}
.mobile-tab li{
  list-style-type: none;
  margin: 5% 5%;
}
.mobile-tab ul{
  padding: 5% 0;
}

@media screen and (min-width:768px){
  .mobile-tab,#burg,#mobile{
    display: none;
  }
  .bar{
    background: #232323;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .mobile-bar{
    display: none;
  }
  #desktop{
    display: flex;
  }
  a{
    text-decoration: none;
    color:#c3c3c3;
    margin: 0;
  }
  ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li{
    color:#fff;
    cursor: pointer;
    font-weight: lighter;
    background: #232323;
    padding: 20px 20px;
    text-align: center;
    width: 70px;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
  }
  li:hover{
    background: #fff;
    opacity: .8;
    box-shadow: inset 1px 1px 5px grey;
  }
  li:hover a{
    color:#2b2b2b;
  }
}
